<div class="container">
	<div class="list-group">
		<div class="list-group-item" ng-repeat="tab in tabs" ng-click="go('/tabs/' + tab.id)">
			<div class="row">
				<div class="col-lg-2 col-md-2 list-col">
					<div ng-show="!tab.song.album.images[1].url" class="list-icon">
					<span class="glyphicon glyphicon-music"></span>
					</div>
					<img class="media-object list-image" src="{{tab.song.album.images[1].url}}" alt="{{tab.song.album.title || tab.title}}" ng-show="tab.song.album.images[1].url">
				</div>
				<div class="col-lg-8 col-md-8 list-col">
					<h4>{{tab.title}}</h4>
					<p><a ng-href="#/songs/{{tab.song.id}}" >{{tab.song.title}}</a></p>
					<p><a >{{tab.song.album.title}}</a></p>
					<p><a ng-href="#/artists/{{tab.song.artist.id}}">{{tab.song.artist.name}}</a></p>
					<p ng-bind="tab.tags.join()"></p>
				</div>
			</div>
		</div>
	</div>

	<pagination num-pages="pagination.count" current-page="pagination.current" on-select-page="changePage(page)"></pagination>
</div>